@font-face {
    src: url('fonts/NexaBold.otf');
    font-family: NexaBold;
}

@font-face {
    src: url('fonts/NexaLight.otf');
    font-family: NexaLight;
}

body {
    line-height: 1.42857143;
    font-size: 16px;
    font-family: NexaLight;
    font-weight: 400;
    padding-right: 0 !important;
    background-color: #1b1c25 !Important;
    height: 100vh;

}

a:active,
.row {
    margin: 0 !important;
}

a:focus, input, select {
    outline: none
}

.nav-bar {
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.logo {
    margin: 0 auto;
}

/** START AFFILIATE **/
/*

.tabHead {
    width: 33.333%;
    height: 100px;
    background-color: rgba(0,0,0,0.2);
    float: left;
    text-align: center;
    padding-top: 40px;
    cursor: pointer;
}

.tabHead:hover {
    background-color: rgba(0,0,0,0.3);
}

.tabHead.active {
    background-color: rgba(0,0,0,0.5);
}

.tabContent {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height:700px;
    margin-top: 100px;
    color: white;
}

.tabContent input {
    color: black;
}

.spacer {
    display: none;
}
*/

/** END AFFILIATE **/

.navbar-right {
    color: #b0b0b3;
    /* margin-right: 70px; */
    position: absolute;
    top: 30px;
    right: 70px;
}

.profile-container {
    background: #111a17;
}

main {
    margin: 0 30px 0 30px;
}

.menu {
    background-color: #16161e;
    text-align: center;
    color: #b0b0b3;
    height: 100px;
}

.menu-elem {
    display: flex;
    align-items: center;
}

.menu-elem span {
    margin: 0 auto;
}

.active-menu-elem {
    background-color: #0d0e12;
}

section {
    background-color: #0d0e12;
    /* height: 95vh; */
}

.product-container {
    padding: 30px 0 26px 0px;
    width: 90% !important;
}

/*.right-content {
    background-color: #18191f;
    margin: 60px 150px 60px 235px !Important;
}*/

.main-content {
    background-color: #18191f;
    border-radius: 15px;
    /* max-width: 1126px !important; */
    /* min-width: 1126px !important; */
    padding: 0 35px;
}

.main-second-content {
    background-color: #18191f;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}
.checkout-product-container {
    margin-top: 28px !important;
    padding-right: 12px;
    height: 62vh;
    overflow-y: scroll;
}
.product-container .product-content {
    background: #202128;
    width: 184px;
    height: 184px;
    margin: 12px;
    padding: 10px;
    border-radius: 15px;
    color: #e6e6e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-content-container {
    overflow-y: scroll;
    height: 61vh;
}
.product-content-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000000;
    border-radius: 10px;
}

.product-content-container::-webkit-scrollbar, .checkout-product-container::-webkit-scrollbar
{
    width: 10px;
    background-color: #000000;
    border-radius: 10px;
}
.product-content-container::-webkit-scrollbar-thumb, .checkout-product-container::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2) 25%, transparent  );
}
.product-right-content {
    /* text-align: right; */
    align-self: flex-end;
}

.nav-bar-products-search {
    height: 30px;
}

.search-input {
    background: #18191f;
    border: none;
    color: white;
}

.search-image {
    height: 13px;
    margin: -3px 5px 0 0;
}

.nav-bar-products {
    margin-top: 20px !important;
    height: 50px;
}

.product-filter {
    background: no-repeat;
    border: none;
    color: #e6e6e7;
    margin-left: 50px;
}

.product-filter option {
    background: #292b2c;
    border: none;
}

.product-filter option:hover {
    background: #292b2c;
    border: none;
}

.product-image {
    /* text-align: center; */
}

.product-name {
    border-left: 1px solid #f00;
    padding-left: 10px;
    color: #ececec;
    margin-left: 10px;
    align-self: flex-start;
}

.green-span {
    color: #53bd6f;
}

.white-span {
    color: #acadaf;
    margin-left: 20px;
}

.nav-bar-checkout {
    margin: 0 auto !important;
    padding-top: 15px;
}

.center-content {
    width: 90%;
    margin: 0 auto;
}

.checkout-content {
    margin-top: -28px;
}

.title-checkout {
    text-align: center;
    color: #e6e6e7;
    margin-bottom: 5px;
}

.checkout-product {
    color: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #202128;
    border-radius: 5px;
    margin: 5px 0 5px 0 !important;
    padding: 15px 5px 15px 5px !important;
    width: 40%;
    flex-wrap: wrap ;
}

.checkout-middle-content {
    border-left: 1px solid #f00;
    padding-left: 10px;
}

.affiliate-section {
    color: #ebebeb;
    height: 100%;
    /* overflow: hidden; */
}

.code-button {
    background: #dc4d74;
    padding: 6px 39px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border: none;
    position:  absolute;
}

.code-input {
    background: #181a20;
    padding-left: 70px;
    border: none;
    border-radius: 5px;
    width: 81%;
    height: 50px;
    color: white;
}

.code-container {
    position: relative;
    padding-top: 40px;
}

.code-button {
    top: 81px;
    right: 22%;
}

.content-title {
    padding: 0 0 10px 15px;
}

.affiliate-container {
    padding: 0 0 11px 0;
    width: 90% !important;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    text-align: center;
    padding: 0.25rem;
    color: #dcdcdd;
}

.affiliate-table {
    margin-top: 100px;
    width: 80% !important;
}

.affiliate-table th {
    font-size: 18px;
}

.affiliate-table td {
    font-size: 25px;
}

.affiliate-small-container {
    padding-top: 40px;
    color: #525460;
}

.affiliate-small-content {
    margin-top: 30px;
    background: #13141a;
    text-align: center;
    border-radius: 16px;
}

.affiliate-small-content-footer {
    font-size: 38px;
    padding: 27px 0 41px 0;
}

.affiliate-content-image {
    padding-top: 15px;
}

.affiliate-content-title {
    padding-top: 22px;
    text-transform: uppercase;
    /* font-size: 21px; */
}

.level {
    font-size: 30px;
    border: 4px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-weight: 600;
    /* padding: 5px; */
    display: inline-block;
    margin-bottom: 26px;
}

.affiliate-small-content-middle {
    font-size: 38px;
    padding-top: 25px;
}

.affiliate-content-logo {
    padding-top: 5px;
}

.affiliate-content-bottom-title {
    padding-top: 22px;
    font-size: 20px;
    text-transform: uppercase;
}

.available-button {
    margin-top: 20px;
    margin-bottom: 13px;
    background: #dc4d74;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    border: none;
}

.affiliate-people-count {
    font-size: 31px;
}

.affiliate-content-footer {
    font-size: 22px;
    padding: 28px 0 34px 0;
}

.affiliate-content-left-footer {
    text-align: left;
    margin-right: 63px;
    display: inline-block;
}

.affiliate-content-right-footer {
    text-align: right;
    display: inline-block;
}

.checkout-button {
    display: none;
}
.menu a {
    color: #2c2d36 !important;
    text-decoration: none;
}

.mini-games-section {
    padding-top: 20px;
    height: 100%;
    /* display: inline-block; */
}

.filter-title {
    font-size: 16px;
}

.best-mount-container {
    margin-top: 30px;
    border-radius: 7px;
    margin: 0 auto;
    width: 535px !important;
    background: #181a20;
    height: 50px;
    color: #5a5b60;
}

.best-amount-filter-row {
    line-height: 50px;
}

.filter-elem li {
    padding: 1px 18px;
    border-radius: 18.9px;
    font-size: 14px;
    background: #373945;
    list-style:  none;
    display: inline;
    margin-left: 2px !important;
    text-align:  left;
}
.filter-input {
    display: inline-block;
    margin-left: 20px;
    /* width: 20%; */
    /* display: block; */
    /* margin-left: 5px; */
    /* flex: 0 0 31.333333% !important; */
    /* max-width: 30.333333% !important; */
    /* width: 24% !important; */
    /* flex: 25% !important; */
}
.filter-container {
    margin-top: 45px;
    text-align: center;
    width: 355px !important;
    height: 50px;
    background: #dc4d74;
    line-height: 50px;
    color: white;
    border-radius: 13px;
}

.filter-row {
    /* width: 100%; */
    height: 50px;
    text-align: center;
    margin: 50px auto 0 auto !important;
}

.filter-row input {
    height: 40px;
    width: 100px;
    text-align: center;
    background: #181a20;
    border: none;
    border-radius: 5px;
    color: #5a5b60;
}

.filter-row span {
    font-size: 9px;
    color: #fff;
    display:  block;
    margin-bottom: 5px;
}

.roll {
    margin: 50px auto 50px auto;
    display: flex;
    padding: 0 22px;
    justify-content:  center;
    height: 60px;
    border-radius: 15px;
    background: #dc4d74;
    border: none;
    color: white;
    font-size: 25px;
}

.range {
    display: block;
    width: 57%;
    margin: 50px auto 0 auto;
    color: red;
}

.checkout-bottom-button {
    font-size: 11.24px;
    margin: 10px auto 6px auto;
    border: none;
    background: #373842;
    color:  white;
    border-radius: 35px;
    padding: 9px 30px;
    font-family: NexaBold;
}
input[type="range"] {
    -webkit-appearance: none;
    background-color: #53555e;
    height: 12px;
    margin-top: 85px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0px;
    z-index: 1;
    width: 11px;
    height: 11px;
    cursor: pointer;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
    width: 3px;
    height: 20px;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
}

input[type="range"]:hover ~ #rangevalue,
input[type="range"]:active ~ #rangevalue {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: -75px;
}

/* Tool Tip */

#rangevalue {
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: block;
    color: #fff;
    margin: 20px 0;
    position: relative;
    left: 44.5%;
    padding: 6px 12px;
    border: 1px solid black;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222931), color-stop(100%, #181D21));
    width: 18px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: -95px;
}

input[type="range"]:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.table-container {
    width: 50%;
    margin:   0 auto;
}

.bets-filter {
    display:  flex;
    justify-content: center;
    padding: 0  !important;
    margin:  0 !important;
}

.bets-filter li {
    /* text-align: center; */
    /* margin: 0 auto; */
    display: inline-block;
    font-size: 9px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #5c5e65;
    color: white;
    /* margin-left: 100px; */
}

.bets-table {
    width: 52% !important;
    margin: 50px auto 0 auto;
}

tr:nth-of-type(odd) {
    background-color: #181a20;
}

tr:nth-of-type(even) {
    background-color: #121318;
}

.inactive {
    color: #ef5e5e !important;
}

.active {
    color: #5eef80 !important;
}
.mh-100 {
    margin-left: 100px;
    margin-right: 100px;
}
.small-device-button {
     text-align: right;
    display: none;
}
.small-device-button span {
    margin-right: 15px;
    border:  1px solid;
    padding: 5px 10px;
    border-radius: 4px;
}
thead {
    font-size: 16px;
}

tbody {
    font-size: 14px;
}

.bets-table > tbody > tr > td, .table-borderless > tbody > tr > th, .table-borderless > tfoot > tr > td, .table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td, .table-borderless > thead > tr > th {
    padding: 0.75rem !important;
}

li:first-child {
    /* margin-left: -18px !important; */
}

@media only screen and (max-device-width: 1600px) {
    .checkout-button {
        background-image: url("images/arrow_right.png");
        background-repeat: no-repeat;
        background-size: 51px;
        position: absolute;
        border:  navajowhite;
        top: -1px;
        z-index: 99999;
        right: 22px;
        display: block;
    !important
        background:;
        width: 78px;
        border-radius: 5px;
        height: 51px;
    }

    .checkout-content {
        position: absolute !important;
        display: none ;
        max-width: 100% !important;

    }
    .main-content {
        width: 91% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .product-container .product-content {
        width: 17.2% !important;
    }
    .main-second-content {
        margin: 0 auto !important;
        width: 60% !important;
    }
    .affiliate-content-title {
        font-size: 22px;
    }
}

@media only screen and (max-device-width: 1400px) {
    .best-mount-container {
        width: 90% !important;
    }
    .filter-container {
        margin-top: 80px;
        width: 60% !important;
        height: 80px;
        line-height: 80px;
    }
    .table-container {
        width: 100% !important;
    }

    .bets-filter li {
        width: 111px;
        text-align: center;
    }

    .bets-filter li span {
        font-size: 15px;
    }
}

@media only screen and (max-device-width: 1350px) {
    .product-container .product-content {
        width: 22% !important;
    }
    .filter-elem li {
        padding: 5px 48px;
    }
}


@media only screen and (max-device-width: 1120px) {
    .product-container .product-content {
        width: 29% !important;
    }

    .nav-bar-products-search {
        display: block !important;
        flex: 0 0 45% !important;
        max-width: 45% !important;
    }

    .product-filter {
        margin-left: 3px !important;
    }

    .nav-bar-filter {
        flex: 0 0 45% !important;
        max-width: 45% !important;
    }

    .nav-bar-products-offset {
        display: none !important;
    }
    .filter-row span {
        font-size: 12px;
    }
}

@media only screen and (max-device-width: 999px) {
    .product-container .product-content {
        width: 46% !important;
    }

    .product-name {
        align-self: center !important;
        border: none;
    }
}

@media only screen and (max-device-width: 850px) {
    .product-container .product-content {
        width: 48% !important;
        height: 260px;
        margin-left: 1px;
    }
    .filter-elem li {
        padding: 13px 69px;
    }

}

@media only screen and (max-device-width: 1340px) {
    .container-affiliate {
        flex-direction: column;
    }
    .table {
        width: 97% !important;
    }
    .col-lg-5, .col-lg-3 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .col-lg-5 {
        margin: 0 auto !important;
        text-align: center !important;
    }

    table {
        margin: 15px auto !important;
    }
    .brest-amout-title {
        text-align: center;
    }
    .brest-amout-item {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .filter-elem {
        margin-top: 16px;
        text-align: center;
    }
    .small-device-button {
        padding-top: 25px;
        display: block;
    }
    .earning-content {
        margin-top: 0px !important;
        cursor: pointer;
        display: none;
    }
    .affiliate-content {
        cursor: pointer;
        margin: -5px !IMPORTANT;
        display: none;
    }
}

@media only screen and (max-device-width: 730px) {
    .code-button {
        position: static !important;
        margin-top: 15px !important;
    }

    .nav-bar {
        display: block !important;
    }
    .filter-row span {
        font-size: 17px;
    }
    .logo {
        margin-left: 30px;
        margin-top: 17px;
    }

    .filter-row input{
        width: 220px;
        height: 60px;
    }

    .navbar-right {
        margin-top: -10px;
        text-align: right;
        right: 40px;
    }
    .bets-filter li {
        width: 151px;
        text-align: center;
    }

    .filter-elem span {
        font-size: 19px;
    }

    .bets-filter li span {
        font-size: 19px;
    }
    .filter-amount span {
        font-size: 20px;
    }
}

@media only screen and (max-device-width: 440px) {
    .code-input {
        padding-left: 10px !important;
    }

    .code-button {
        padding: 0px 12px;
        font-size: 15px;
    }

    table th {
        font-size: 14px !important;
    }

    .affiliate-content-left-footer {
        margin-right: 0 !important;
    }
    .bets-filter li {
        width: 201px;
        text-align: center;
    }

    .bets-filter li span {
        font-size: 23px;
    }
    .filter-row span {
        font-size: 21px;
    }
    .filter-elem span {
        font-size: 30px;
    }
    .filter-amount span {
        font-size: 30px;
    }
}


#affiliatesContent {
}

#minigamesContent {
    display: none;
}

#shopContent {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.main-content::-webkit-scrollbar {
    display: block;
}

#customAff {
    position: relative;
    height: 45%;
    padding-top: 20%;
}

#customAff2 {
    padding-top: 10%;
    height: 45%;
}

#betAmount {
    position: relative;
    top: -50px;
    width: 400px;
}

.menu-elem {
    cursor: pointer;
}

.testInput {
    width: 40px;
}

.whatever {
    cursor: pointer;
}

.filter-amount input[type="radio"] {
    display: none;
}

:checked + .whatever {
    background-color: rgba(30,30,30,0.40);
}

.filter-amount {
    margin: -15px !important;
    border-radius: 0px;
}
