.popup_style {
  width: 50%;
  background-color: white;
}
.test_modal {
  display: none;
}

.createCoinflipButton {
  color:red;
}

.coinFlipItemsContainer {

}

.coinFlipJoinItemsContainer {

}

.coinFlipItemsContainerItemImage {
  width: 160px;
  height: 160px;
}

.coinFlipJoinItemsContainerItemImage {
  width: 160px;
  height: 160px;
}

div.wrapper{
  float:left; /* important */
  position:relative; /* important(so we can absolutely position the description div */
}
div.description{
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:0px; /* position will be on bottom */
  left:0px;
  width:100%;
  /* styling bellow */
  background-color:black;
  color:white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
  padding:10px;
  margin:0px;
  font-size: 30px;
}

.coinflipRadio {
  width: 60px;
  height: 60px;
}

#startCoinflipButton {
  color: red;
}
.coinflipContainer{
  border: 1px solid green;
  width: 700px;
  height: 140px;
  overflow: scroll;
}

#chatWindow{
  overflow: scroll;
  width : 400px;
  height: 500px;
  border: 5px solid red;
}

/* START COINFLIP COIN DESIGN */

.coinZoomer{width:50px;height:50px;position: absolute; margin: 0 auto;}
.coinWrapper{max-width:50px;width:50px;height:50px;max-height:50px;margin: 0 auto}
#coin{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
#coin .front,#coin .back{position:absolute;width:50px;height:50px}
#coin .front{transform:translateZ(1px);border-radius:50%;background:transparent url('../images/mlogo1.png') center center no-repeat}
#coin .back{transform:translateZ(-1px) rotateY(180deg);border-radius:50%;background:transparent url('../images/mlogo2.png') center center no-repeat}
#coin.animation900{-webkit-animation:rotate900 3s linear forwards;animation:rotate900 3s linear forwards}
#coin.animation1080{-webkit-animation:rotate1080 3s linear forwards;animation:rotate1080 3s linear forwards}
#coin.animation1260{-webkit-animation:rotate1260 3s linear forwards;animation:rotate1260 3s linear forwards}
#coin.animation1440{-webkit-animation:rotate1440 3s linear forwards;animation:rotate1440 3s linear forwards}
#coin.animation1620{-webkit-animation:rotate1620 3s linear forwards;animation:rotate1620 3s linear forwards}
#coin.animation1800{-webkit-animation:rotate1800 3s linear forwards;animation:rotate1800 3s linear forwards}
#coin.animation1980{-webkit-animation:rotate1980 3s linear forwards;animation:rotate1980 3s linear forwards}
#coin.animation2160{-webkit-animation:rotate2160 3s linear forwards;animation:rotate2160 3s linear forwards}
@-webkit-keyframes rotate900{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(900deg);-moz-transform:rotateY(900deg);transform:rotateY(900deg)}}
@keyframes rotate900{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(900deg);-moz-transform:rotateY(900deg);transform:rotateY(900deg)}}
@-webkit-keyframes rotate1080{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1080deg);-moz-transform:rotateY(1080deg);transform:rotateY(1080deg)}}
@keyframes rotate1080{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1080deg);-moz-transform:rotateY(1080deg);transform:rotateY(1080deg)}}
@-webkit-keyframes rotate1260{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1260deg);-moz-transform:rotateY(1260deg);transform:rotateY(1260deg)}}
@keyframes rotate1260{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1260deg);-moz-transform:rotateY(1260deg);transform:rotateY(1260deg)}}
@-webkit-keyframes rotate1440{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1440deg);-moz-transform:rotateY(1440deg);transform:rotateY(1440deg)}}
@keyframes rotate1440{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1440deg);-moz-transform:rotateY(1440deg);transform:rotateY(1440deg)}}
@-webkit-keyframes rotate1620{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1620deg);-moz-transform:rotateY(1620deg);transform:rotateY(1620deg)}}
@keyframes rotate1620{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1620deg);-moz-transform:rotateY(1620deg);transform:rotateY(1620deg)}}
@-webkit-keyframes rotate1800{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1800deg);-moz-transform:rotateY(1800deg);transform:rotateY(1800deg)}}
@keyframes rotate1800{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1800deg);-moz-transform:rotateY(1800deg);transform:rotateY(1800deg)}}
@-webkit-keyframes rotate1980{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1980deg);-moz-transform:rotateY(1980deg);transform:rotateY(1980deg)}}
@keyframes rotate1980{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1980deg);-moz-transform:rotateY(1980deg);transform:rotateY(1980deg)}}
@-webkit-keyframes rotate2160{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(2160deg);-moz-transform:rotateY(2160deg);transform:rotateY(2160deg)}}
@keyframes rotate2160{from{-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(2160deg);-moz-transform:rotateY(2160deg);transform:rotateY(2160deg)}}

/* END COINFLIP COIN DESIGN */

/* START NO COINFLIP CONTAINER */

/*::-webkit-scrollbar {
  display: none;
}*/

.ads-cont > a > img {
  height: 100%;
  width: 100%;
}

.navbar-nav li .dropdown-menu>li>a:hover {
  background-color: rgba(255,255,255,.1);
  cursor: pointer;
}

.social-media-tray {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 7px;
}

.social-media-tray .block a {
  text-align: center;
  background-color: transparent;
  color: #6f5b84;
  border: 1px solid #5d4875;
  padding: 5px 0;
  display: inline-block;
  width: 20%;
  float: right;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.social-media-tray .block a:hover {
  text-align: center;
  background-color: transparent;
  color: #5b8084;
  border: 1px solid #486375;
  padding: 10px 0;
  display: inline-block;
  width: 20%;
  float: right;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.noCoinflipContainer {
  width: 400px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  background-color: #2f4c56;
  border: 1px solid #396467;
}

.noCoinflipMessage {
  position: relative;
  top: 45px;
}

/* END NO COINFLIP CONTAINER */

/* START TIMER JOIN ATTEMPT DESIGN*/

.pie{
  visibility: hidden;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color:lightgreen;
  display: inline-block;
  vertical-align: middle;

}

.block{
  background:green;
  width:30px;
  height:30px;
  display:block;
  border-radius:50%;
}
.time{
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 36%;
  font-size: 1em;
  color:white;
}

.circeOverlay {
  width: 30px;
  height: 30px;
  margin:10px 10px;
  border-radius: 50%;
  background: #050010;
}

.degree{
  background-image:
          linear-gradient(90deg, transparent 50%, green 50%),
          linear-gradient(90deg, green 50%, transparent 50%);
}

/* END TIMER JOIN ATTEMPT DESIGN*/






.magni-popup {
  background: rgba(32, 50, 56, 0.85);
  border: 1px solid #355a5d;
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 1200px;
  margin: 20px auto;
}

.join-item p.total-price > span {
  display: block;
  color: rgba(255,255,255,0.75);
  text-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

.popup-total-amount {
  text-align: right;
  margin-left: 55px;
}

.coinflip-popup .popup-item p {
  position: relative;
  text-align: center;
  left: 0px;
  padding: 0 20px;
  line-height: 1.2;
  width: 100%;
  text-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

/*.coinflip-popup .item-price {
  margin-top: -15px;
  top: 0;
  position: absolute;
  word-break: break-all;
}*/

.coinflip-popup .item-price {
  /* margin-top: -15px; */
  top: 0;
  position: absolute;
  word-break: break-all;
}

/*.coinflip-popup .item-desc {
  bottom: 0;
  margin-top: 5px;
  position: absolute;
}*/

.coinflip-popup .item-desc {
  margin-top: -8px;
  bottom: 0;
  /* width: 135% !important; */
/*  position: absolute !important;*/
  left: 0 !important;
  right: 0;
  margin-left: auto;
  margin-right: auto;
/* margin-bottom: -23px; */
}

.popup-value-span {
width: 110%;
margin-left: -5%;
}

.popup-item-contentHolder {
  cursor: pointer;
}
.popup-item-contentHolder:hover {
  border: 3px solid white;
}

/* germany.css 835  remove margin*/

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

@keyframes fill2 {
  100% {
    box-shadow: inset 0px 0px 0px 30px #FF0000;
  }
}


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__circle2 {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #FF0000;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  margin: auto;
  position: absolute;
  z-index: 99;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark2 {
  width: 56px;
  height: 56px;
  margin: auto;
  position: absolute;
  z-index: 99;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #FF0000;
  animation: fill2 .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.join-item .ct-img, .join-item .t-img, .create-item .ct-img, .create-item .t-img {
  border-radius: 80px;
  max-width: 70px;
  width: 55px;
}

.create-item {
  margin-top: 30px !important;
}

.join-item {
  margin-top: 10px !important;
}

.popup-total-amount {
  text-align: center;
}

[data-selected-site="true"] {
  filter:drop-shadow(0px 0px 10px #9feae4);
}
[data-selected-site="false"] {
}

.coinflip-popup .popup-item {
  padding: 5px;
}

.popup-item-contentHolder {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  border: 3px solid #396467;
}

.popup-item-image  {
  background: #2f4c56;
  width: 100%;
}

.popup-item-price-span {
  position: absolute;
  top: 0;
  padding: 5px;
  right: 0;
  border-bottom: 1px solid rgba(44,44,44,0.3);
  border-left: 1px solid rgba(44,44,44,0.3);
  background: rgba(72,223,166,0.1);
  color: white;
}

.popup-item-desc-holder {
  background: rgba(32, 50, 56, 1);
  height: 75px;
  display: table;
  width: 100%;
  padding-top: 8px;
}

.popup-item-desc-controller {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.item-desc-redone {
  padding: 5px;
  margin-bottom: 0px;
  color: #9feae4;
}

.coinflip-popup .item-desc {
  margin-top: -8px;
  bottom: 0;
  /* width: 135% !important; */
  /*position: absolute !important;*/
  left: 0 !important;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: -23px; */
}


.coinflip-popup .popup-item {
   margin: 0px 0px;
}
.join-item {
   margin-top: 0px !important;
}

.create-item {
  margin-top: 0px !important;
}

.viewPopupPlayerPicture {
  height: 260px;
}

#view-coinflip-popup .coinWrapper {
  max-width: 150px;
  width: 150px;
  height: 150px;
  max-height: 150px;
  margin: 0 auto;
}

#view-coinflip-popup .coinZoomer {
  width: 150px;
  height: 150px;
  position: absolute;
  margin: 0 auto;
}

#view-coinflip-popup #coin .back {
  transform: translateZ(-1px) rotateY(180deg);
  border-radius: 50%;
  background: transparent url(../images/coin-t.png) center center no-repeat;
}

#view-coinflip-popup #coin .front {
  transform: translateZ(-1px) rotateY(180deg);
  border-radius: 50%;
  background: transparent url(../images/coin-ct.png) center center no-repeat;
}

#view-coinflip-popup #coin .front, #view-coinflip-popup #coin .back {
  position:absolute;
  width: 150px;
  height: 150px;
}

#view-coinflip-popup .pie{
  visibility: hidden;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  background-color:lightgreen;

}

.block{
  background:green;
  width:90px;
  height:90px;
  display:block;
  border-radius:50%;
}

#view-coinflip-popup .time{
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 36%;
  font-size: 3em;
  color:rgba(255,255,255,0.75);
}

#view-coinflip-popup .circeOverlay {
  width: 90px;
  position: absolute;
  height: 90px;
  margin:30px 30px;
  border-radius: 50%;
  background: rgba(32, 50, 56, 1);
}

#view-coinflip-popup .degree{
  background-image:
          linear-gradient(90deg, transparent 50%, green 50%),
          linear-gradient(90deg, green 50%, transparent 50%);
}

#view-coinflip-popup a{
  color: rgba(255,255,255,0.75);
}

.viewTemplateName {
  text-align: center;
  overflow: hidden;
  height: 19px;
}

/* START CSS SPINNER HERE **************************************************** */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
  left: 47%;
  /* right: 50%; */
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/* END CSS SPINNER HERE *************************************** */

.activity-profile a {
  color: rgba(255,255,255,0.75);
}

.join-popup-button {
  margin-right: 10px;
}