::-webkit-scrollbar {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 8%;
}

#main-top-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 8%;
}

.tocBox {
  position: fixed;
  width: 60%;
  top: 8%;
  bottom: 11%;
  overflow: auto;
  left:20%;
  line-height: 25px;
}

.main-container {
  overflow: auto;
}